<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=categoryname%></title>
</head>
<body>
    <%- include('header.ejs')%>
    <h1><%=categoryname%></h1>
    <div>
        <table style="width: 100%;">
            <tr>
                <th>Item name</th>
                <th>Brand</th>
                <th>Part No.</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        <%if (items){%>
            <%items.forEach((item) => {%>
                <tr>
                    <td><%=item.itemname%></td>
                    <td><%=item.brand%></td>
                    <td><%=item.partnum%></td>
                    <td><%=item.description%></td>
                    <td><%=item.price%></td>
                    <td><%=item.quantity%></td>
                    <td>
                        <a href="/<%=item.itemid%>/edit-item"><button>Edit</button></a>
                        <form action="/<%=item.itemid%>/delete-item" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <%})%>
        <%}%>
        </table>
        <a href="/"><button>Go back</button></a>
    </div>
</body>
</html>