<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="/css/edit-item.css">
</head>
<body>
    <form id="item-edit" action="/<%=item.itemid%>/edit-item" method="POST">
        <input type="hidden" name="referer" id="referer" value="<%= referer %>">
        <label for="itemName">Item Name</label>
        <input type="text" name="itemName" id="itemName" value="<%=item.itemname%>">
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand" value="<%=item.brand%>">
        <label for="categoryId">Select Category</label>
        <select name="categoryId" id="categoryId">
            <option value="" <%= item.categoryid === null ? 'selected' : '' %>>----</option>
            <% categories.forEach((category) => { %>
                <option value="<%= category.categoryid %>" <%= category.categoryid === item.categoryid ? 'selected' : '' %>>
                    <%= category.categoryname %>
                </option>
            <% }) %>
        </select>
        <label for="partNum">Part number</label>
        <input type="text" name="partNum" id="partNum" value="<%=item.partnum%>">
        <label for="description">Description</label>
        <textarea name="description" id="description"><%=item.description%></textarea>
        <label for="price">Price</label>
        <input type="number" name="price" id="price" min="0" step="0.01" placeholder="Enter price" value="<%=item.price%>">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" value="<%=item.quantity%>">
    </form>
    <div class="buttons-form">
        <button type="submit" form="item-edit" class="save">Save</button>
        <a href="<%= referer %>"><button type="button" class="cancel">Cancel</button></a>
    </div>
</body>
</html>